// variables
$darkmode: rgb(0, 0, 0);
$font-color: white;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

$defaultfont: poppins, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

// reset css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1px;

    body {
        font-size: 16em;
        overflow-x: hidden;
        // border: 1px solid white;
        background-image: linear-gradient(111.4deg, rgba(7, 7, 9, 1) 6.5%, rgb(10, 8, 59) 93.2%);
        color: $font-color;
        font-family: $defaultfont;
        max-width: 1440px;
        margin: 0 auto;

        input{
            font-family: $defaultfont;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            padding-right: 100px ;
            padding-left: 30px ;
            position: sticky;
            top: 0;
            z-index: 10;
            backdrop-filter: blur(10px);
            // background: rgba(0, 0, 0, 0.364);
            // border: 1px solid white;

            .logo-img {
                margin-right: 50px;
                width: 40px;
                height: 26px;
            }

            nav {
                display: flex;


                ul {
                    display: flex;
                    list-style: none;

                    .nav-links {
                        color: $font-color;
                        font-size: 16rem;
                        margin-right: 20px;
                        text-decoration: none;
                    }
                }
            }

            .social-nav {
                display: flex;

                .nav-social_icons {
                    color: $font-color;
                    font-size: 18rem;
                    margin-left: 20px;

                    &:hover {
                        color: rgb(74, 74, 236);
                    }
                }
            }

            .fa-bars {
                display: none;
            }
            .fa-close {
                display: none;
            }
        }

        main {
            padding: 0 100px ;

            .hero-section {
                position: relative;
                height: 600px;
                padding: 100px 0;

                .hero-section-img {
                    position: absolute;
                    width: 650px;
                    height: auto;
                    z-index: -1;
                    top: 0;
                    right: 0;
                }

                div {
                    position: absolute;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    h1 {
                        font-size: 60rem;
                    }

                    p {
                        color: #808080;
                        font-size: 30rem;
                    }

                    .hero-section-links {
                        text-decoration: none;
                        padding: 10px 20px;
                        // border: 1px solid white;
                        border-radius: 10px;
                        background-color: rgba(128, 128, 128, 0.171);
                    }

                    .btn-left {
                        color: $font-color;

                        &:hover {
                            background-color: rgba(65, 143, 222, 1);
                        }
                    }

                    .btn-right {
                        color: #808080;

                        &:hover {
                            background-color: rgba(65, 143, 222, 1);
                            color: $font-color;
                        }
                    }
                }
            }

            .about-me {
                margin-top: 90px;

                .abt-head_small {
                    color: #6b6969;
                    text-align: center;
                    font-size: 20rem;
                }

                .abt-head {
                    color: rgba(65, 143, 222, 1);
                    text-align: center;
                    font-size: 35rem;
                    font-weight: bold;
                }

                .about-container {
                    display: flex;
                    margin-top: 50px;

                    .about-me_left {
                        width: 50%;
                        position: relative;

                        .under-box {
                            width: 360px;
                            height: 360px;
                            border-radius: 20px;
                            background-image: linear-gradient(to top right, rgba(27, 24, 113, 1), rgb(32, 60, 80));
                            position: absolute;
                            z-index: -1;
                        }

                        .abt-left-img {
                            width: 360rem;
                            height: 360rem;
                            position: absolute;
                            border-radius: 20px;
                            transform: rotate(10deg);
                            transition: .5s ease-in-out;


                            &:hover {
                                transform: rotate(0);
                                transition: .5s ease-in-out;
                            }
                        }
                    }

                    .about-me_right {
                        width: 50%;

                        .about-flex-boxes {
                            display: flex;
                            flex-shrink: 0;
                            gap: 10px;

                            .about-flex-items {
                                width: 200rem;
                                height: 170px;
                                padding: 30px 10px;
                                // border: 1px solid white;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                background-color: rgb(32, 32, 121);
                                border-radius: 20px;
                                transition: 0.5s ease-in-out;

                                .fa-solid {
                                    font-size: 25rem;
                                }

                                h2 {
                                    font-size: 17rem;
                                    padding: 10px;
                                }

                                p {
                                    font-size: 13rem;
                                    padding: 5px;
                                    color: #b4b4b4;
                                }

                                span {
                                    font-size: 13rem;
                                    color: #b4b4b4;
                                }

                                &:hover {
                                    transition: 0.5s ease-in-out;
                                    background-color: transparent;
                                    border: 1px solid rgba(65, 143, 222, 1);

                                }
                            }
                        }

                        .about-bulky-text {
                            font-size: 16rem;
                            margin: 30px 0 50px;
                            color: #b4b4b4;
                        }

                        .lets-talk-btn {
                            padding: 20px;
                            // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
                            background-color: rgb(21, 173, 233);
                            border-radius: 10px;
                            text-decoration: none;
                            color: black;

                            &:hover {
                                background-color: white;
                                transition: 1s;
                            }
                        }
                    }
                }
            }

            .experience {
                margin-top: 90px;

                .abt-head_small {
                    color: #6b6969;
                    text-align: center;
                    font-size: 20rem;
                }

                .abt-head {
                    color: rgba(65, 143, 222, 1);
                    text-align: center;
                    font-size: 35rem;
                    font-weight: bold;
                }

                .experience-container {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    // height: 150px;

                    .experience-flex-item {
                        display: grid;
                        place-items: center;
                        text-align: center;
                        border-radius: 20px;
                        padding: 2%;
                        width: 20%;
                        transition: .3s ease-in-out;
                        background-image: linear-gradient(to top right, rgba(27, 24, 113, 1), rgb(32, 60, 80));

                        img{
                            width: 100px;
                            height: 100px;
                        }

                        .css-img{
                            width: 80px;
                        }

                        .react-img{
                            height: 90px;
                        }

                        &:hover{
                            transition: .3s ease-in-out;
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .offer-section {
                margin-top: 100px;

                .abt-head_small {
                    color: #6b6969;
                    text-align: center;
                    font-size: 20rem;
                }

                .abt-head {
                    color: rgba(65, 143, 222, 1);
                    text-align: center;
                    font-size: 35rem;
                    font-weight: bold;
                }

                .offer-container {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 50px;

                    .see-more-link {
                        text-decoration: none;
                        color: #6b6969;
                    }

                    .offer-left {
                        width: 48%;
                        height: 200px;
                        border-radius: 20px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-image: linear-gradient(to top right, rgba(27, 24, 113, 1), rgb(32, 60, 80));

                    }

                    .offer-right {
                        width: 48%;
                        height: 200px;
                        border-radius: 20px;
                        padding-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-image: linear-gradient(to bottom left, rgba(27, 24, 113, 1), rgb(32, 60, 80));
                    }
                }
            }

            .contact {
                margin-top: 80px;

                .abt-head_small {
                    color: #6b6969;
                    text-align: center;
                    font-size: 20rem;
                }

                .abt-head {
                    color: rgba(65, 143, 222, 1);
                    text-align: center;
                    font-size: 35rem;
                    font-weight: bold;
                }

                .contact-container {
                    display: flex;
                    padding-top: 50px;

                    .contact-left {
                        width: 48%;
                        padding-left: 100px;

                        .contact-flex-item {
                            width: 250px;
                            height: 180px;
                            background-image: linear-gradient(to top right, rgba(27, 24, 113, 1), rgb(32, 60, 80));
                            border-radius: 20px;
                            margin-bottom: 20px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 20px;

                            h3 {
                                font-size: 18rem;
                                font-weight: 500;

                                margin-top: 10px;
                            }

                            p {
                                font-size: 15rem;
                                margin: 10px 0;
                            }

                            .contact-links {
                                text-decoration: none;
                                color: rgb(54, 142, 230);
                            }
                        }
                    }

                    .contact-right {
                        width: 48%;

                        form {

                            input {
                                width: 500px;
                                height: 60px;
                                border-radius: 20px;
                                border: 1px solid rgba(65, 143, 222, 1);
                                background-color: transparent;
                                margin-bottom: 30px;
                                padding: 40px;
                                font-size: 18rem;
                                color: #808080;
                            }

                            textarea {
                                width: 500px;
                                height: 200px;
                                border-radius: 20px;
                                border: 1px solid rgba(65, 143, 222, 1);
                                background-color: transparent;
                                padding: 35px;
                                font-size: 18rem;
                                color: #808080;
                                margin-bottom: 30px;
                            }

                            button {
                                padding: 15px 20px;
                                background-color: rgba(65, 143, 222, 1);
                                border: 0;
                                border-radius: 10px;
                                font-size: 16rem;
                            }
                        }
                    }
                }
            }
        }

        footer {
            width: 100%;
            height: 350px;
            display: flex;
            margin-top: 100px;
            padding: 0 100px ;

            .footer-left {
                width: 50%;
                font-size: 14rem;

                .footer-logo {
                    width: 70px;
                }

                span {
                    display: block;
                    padding-top: 100px;
                }
            }

            .footer-right {
                width: 50%;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style: none;
                    width: 200px;

                    li {
                        padding: 10px 0;

                        .footer-links {
                            text-decoration: none;
                            color: $font-color;

                        }
                    }
                }
            }

        }

        #hangingMenu {
            width: 100%;
            display: none;
            justify-content: center;

            .hanging-menu-bar {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 400px;
                height: 80px;
                // border: 1px solid white;
                border-radius: 40px;
                position: fixed;
                bottom: 50px;
                background-color: #0505058f;

                .hanging-menu-links {
                    text-decoration: none;
                    background-color: transparent;
                    border: 0;

                    &.active{
                        transition: 1s;
                            background-color: rgba(65, 143, 222, 1);
                            color: $font-color;
                    }

                    .fa-solid {
                        font-size: 25rem;
                        color: rgba(65, 143, 222, 1);
                        padding: 10px;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            transition: 1s;
                            background-color: rgba(65, 143, 222, 1);
                            color: $font-color;
                        }
                    }

                    .fa-regular {
                        @extend .fa-solid;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 1px;

        body {
            background-image: linear-gradient(111.4deg, rgb(5, 5, 24) 6.5%, rgb(10, 8, 59) 93.2%);

            header {
                justify-content: space-between;

                .logo-img {
                    margin-right: 50px;
                }

                nav {

                    ul {
                        display: flex;

                        .nav-links {
                            margin-right: 20px;
                        }
                    }
                }
            }

            main {
                padding: 30px 70px;

                .hero-section {
                    position: relative;
                    height: calc(100vh - 150px);
                    padding: 50px 0;
                    // border: 1px solid white;

                    .hero-section-img {
                        width: 550px;
                        top: 0;
                        right: 0;
                    }

                    div {

                        h1 {
                            font-size: 55rem;
                        }

                        p {
                            color: #808080;
                            font-size: 25rem;
                        }

                        .hero-section-links {
                            text-decoration: none;
                            padding: 15px;
                        }
                    }
                }

                .about-me {

                    .abt-head_small {
                        font-size: 19rem;
                    }

                    .abt-head {
                        font-size: 30rem;
                    }

                    .about-container {
                        display: flex;
                        margin-top: 50px;

                        .about-me_left {
                            width: 45%;
                            display: flex;
                            justify-content: flex-start;
                            position: relative;

                            .under-box {
                                width: 300px;
                                height: 300px;
                            }

                            .abt-left-img {
                                width: 300rem;
                                height: 300rem;
                            }
                        }

                        .about-me_right {
                            width: 55%;

                            .about-flex-boxes {
                                display: flex;
                                flex-shrink: 0;

                                .about-flex-items {
                                    width: 150px;
                                    height: 160px;
                                    padding: 20px 10px;

                                    .fa-solid {
                                        font-size: 20rem;
                                    }

                                    h2 {
                                        font-size: 16rem;
                                        padding: 5px;
                                    }

                                }

                                .middle-item {
                                    margin: 0 auto;
                                }
                            }

                            .about-bulky-text {
                                font-size: 14rem;
                                margin: 30px 0 50px;
                                color: #b4b4b4;
                            }

                            .lets-talk-btn {
                                padding: 20px;
                                // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
                                background-color: rgb(21, 173, 233);
                                border-radius: 10px;
                                text-decoration: none;
                                color: black;

                                &:hover {
                                    background-color: white;
                                    transition: 2s;
                                }
                            }
                        }
                    }
                }

                .experience {
                    margin-top: 100px;

                    .abt-head_small {
                        font-size: 19rem;
                    }

                    .abt-head {
                        font-size: 30rem;
                    }

                    .experience-container {
                        margin-top: 30px;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 100%;

                        .experience-flex-item {
                            padding: 20px;
                            width: 22%;
                            height: 130px;
                            margin: 10px 0;
                            flex-shrink: 0;
                            border-radius: 15px;

                            img{
                                width: 80px;
                                height: 80px;
                            }
    
                            .css-img{
                                width: 60px;
                            }
    
                            .react-img{
                                height: 70px;
                            }
    
                        }
                    }
                }

                .offer-section {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 19rem;
                    }

                    .abt-head {
                        font-size: 30rem;
                    }

                    .offer-container {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 50px;

                        .see-more-link {
                            text-decoration: none;
                            color: #6b6969;
                        }

                        .offer-left {
                            width: 48%;
                            height: 200px;
                            display: flex;
                            margin-bottom: 20px;

                        }

                        .offer-right {
                            width: 48%;
                            height: 200px;
                        }

                        h2 {
                            font-size: 19rem;
                        }
                    }
                }

                .contact {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .contact-container {
                        padding-top: 30px;

                        .contact-left {
                            width: 50%;
                            padding-left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .contact-flex-item {
                                width: 250px;
                                height: 180px;
                            }
                        }

                        .contact-right {
                            width: 50%;

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                input {
                                    width: 350px;
                                    height: 40px;
                                    padding: 25px;
                                    font-size: 17rem;
                                    border-radius: 10px;
                                }

                                textarea {
                                    width: 350px;
                                    height: 250px;
                                    padding: 25px;
                                    font-size: 17rem;
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                padding: 30px 70px;
                width: 100%;
                height: 350px;
                display: flex;
                align-items: center;
                // border: 1px solid white;
                margin-top: 60px;
                padding-bottom: 80px;

                .footer-left {
                    width: 50%;
                    margin-top: 40px;
                    font-size: 14rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .footer-logo {
                        width: 70px;
                    }

                    span {
                        display: block;
                        padding-top: 20px;
                    }
                }

                .footer-right {
                    width: 50%;

                    ul {
                        list-style: none;
                        width: 100%;
                        text-align: center;

                        li {
                            padding: 10px 0;

                            .footer-links {
                                text-decoration: none;
                                color: $font-color;

                            }
                        }
                    }
                }

            }

            .hanging-menu {

                .hanging-menu-bar {
                    width: 350px;
                    height: 70px;

                    a {
                        text-decoration: none;

                        .fa-solid {
                            font-size: 22rem;
                        }

                        .fa-regular {
                            font-size: 22rem;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:808px) {
    html {
        font-size: 1px;

        body {
            background-image: linear-gradient(111.4deg, rgb(5, 5, 24) 6.5%, rgb(10, 8, 59) 93.2%);

            header {
                padding: 50px;
                justify-content: space-between;

                .logo-img {
                    margin-right: 50px;
                }

                nav {

                    ul {
                        display: flex;

                        .nav-links {
                            margin-right: 10px;
                        }

                    }
                }

                .fa-bars {
                    display: none;
                    // margin-left: 10px;
                }
            }

            main {
                padding: 50px;

                .hero-section {
                    position: relative;
                    height: calc(100vh - 200px);
                    padding: 50px 0;
                    // border: 1px solid white;

                    .hero-section-img {
                        width: 550px;
                        top: 0;
                        right: 0;
                    }

                    div {

                        h1 {
                            font-size: 55rem;
                        }

                        p {
                            color: #808080;
                            font-size: 25rem;
                        }

                        .hero-section-links {
                            text-decoration: none;
                            padding: 15px;
                        }
                    }
                }

                .about-me {

                    .abt-head_small {
                        font-size: 18rem;
                    }

                    .abt-head {
                        font-size: 28rem;
                    }

                    .about-container {
                        display: flex;
                        flex-direction: column;
                        margin-top: 50px;

                        .about-me_left {
                            width: 100%;
                            height: 300px;
                            display: flex;
                            justify-content: center;
                            position: relative;

                            .under-box {
                                width: 280px;
                                height: 280px;
                            }

                            .abt-left-img {
                                width: 280rem;
                                height: 280rem;
                            }
                        }

                        .about-me_right {
                            width: 100%;
                            margin-top: 100px;

                            .about-flex-boxes {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                flex-wrap: wrap;
                                flex-shrink: 0;

                                .about-flex-items {
                                    width: 250px;
                                    height: 200px;
                                    padding: 30px 10px;
                                    margin: 10px auto;
                                }

                                .middle-item {
                                    margin: 10px auto;
                                }
                            }

                            .about-bulky-text {
                                font-size: 16rem;
                                margin: 30px 0 50px;
                                color: #b4b4b4;
                            }

                            .lets-talk-btn {
                                display: flex;
                                padding: 15px 20px;
                                width: 150px;
                                justify-content: center;
                                // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
                                background-color: rgb(21, 173, 233);
                                border-radius: 10px;
                                text-decoration: none;
                                color: black;


                                &:hover {
                                    background-color: white;
                                    transition: 2s;
                                }
                            }
                        }
                    }
                }

                .experience {
                    margin-top: 100px;
                    // height: auto;
                    // border: 1px solid white;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .experience-container {
                        margin-top: 30px;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-wrap: wrap;
                        width: 100%;

                        .experience-flex-item {
                            padding: 10px;
                            width: 100px;
                            height: 100px;
                            margin: 10px 0;

                            img{
                                width: 60px;
                                height: 60px;
                            }

                            .css-img{
                                width: 40px;
                            }
    
                            .react-img{
                                height: 50px;
                            }
    
                        }
                    }
                }

                .offer-section {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .offer-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: 50px;

                        .see-more-link {
                            text-decoration: none;
                            color: #6b6969;
                        }

                        .offer-left {
                            width: 100%;
                            height: 200px;
                            display: flex;
                            margin-bottom: 20px;

                        }

                        .offer-right {
                            width: 100%;
                            height: 200px;
                        }

                        h2 {
                            font-size: 19rem;
                        }
                    }
                }

                .contact {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .contact-container {
                        flex-direction: column;
                        padding-top: 30px;

                        .contact-left {
                            width: 100%;
                            padding-left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .contact-flex-item {
                                width: 350px;
                                height: 180px;
                            }
                        }

                        .contact-right {
                            width: 100%;

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                input {
                                    width: 350px;
                                    height: 40px;
                                    padding: 25px;
                                    font-size: 17rem;
                                    border-radius: 10px;
                                }

                                textarea {
                                    width: 350px;
                                    height: 250px;
                                    padding: 25px;
                                    font-size: 17rem;
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                padding: 50px;
                width: 100%;
                height: 300px;
                display: flex;
                align-items: center;
                // border: 1px solid white;
                margin-top: 60px;
                padding-bottom: 50px;

                .footer-left {
                    width: 100%;
                    margin-top: 40px;
                    font-size: 14rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .footer-logo {
                        width: 70px;
                    }

                    span {
                        display: block;
                        padding-top: 20px;
                    }
                }

                .footer-right {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;

                    ul {
                        list-style: none;
                        width: 100%;
                        text-align: center;

                        li {
                            padding: 10px 0;

                            .footer-links {
                                text-decoration: none;
                                color: $font-color;

                            }
                        }
                    }
                }

            }

            .hanging-menu {

                .hanging-menu-bar {
                    width: 300px;
                    height: 60px;

                    a {
                        text-decoration: none;

                        .fa-solid {
                            font-size: 20rem;
                        }

                        .fa-regular {
                            font-size: 20rem;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:605px) {   
    html {
        font-size: 1px;

        body {
            overflow-x: hidden;
            background-image: linear-gradient(111.4deg, rgb(10, 10, 54) 6.5%, rgb(10, 8, 82) 93.2%);

            header {
                padding: 20px;

                .logo-img {
                    margin-right: 100px;
                }

                nav {

                    #mobile-side-nav{
                        visibility: hidden;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        padding: 100px 0;
                        background-image: linear-gradient(111.4deg, rgb(10, 10, 54) 6.5%, rgb(10, 8, 82) 93.2%);
                        z-index: 10;
                        width: 80%;
                        height: 100vh;
                        right: 0;
                        top: 0;
                        transform: translateX(100%);
                        transition: 1s ease-in-out;
                        backdrop-filter: blur(10px);


                        .nav-links {
                            width: 100%;
                            display: block;
                            padding: 0 40px;
                        }
                        li {
                            padding: 10px 0;
                            width: 100%;

                            &:hover {
                                background-color: rgba(65, 143, 222, 1);
                            }
                        }

                        .dropdown {
                            display: none;
                        }

                        &.open{
                            visibility: visible;
                            transform: translateX(0);
                            transition: 1s ease-in-out;
                        }
                    }
                }

                .fa-bars {
                    display: block;
                    margin-left: 10px;
                }
                .fa-close {
                    display: block;
                    position: absolute;
                    top:20px;
                    right: 30px;
                }
            }

            main {
                padding: 30px;

                .hero-section {
                    position: relative;
                    height: calc(100vh - 250px);
                    padding: 50px 0;
                    // border: 1px solid white;

                    .hero-section-img {
                        width: 550px;
                        top: 0;
                        right: 0;
                    }

                    div {

                        h1 {
                            font-size: 45rem;
                        }

                        p {
                            color: #808080;
                            font-size: 20rem;
                        }

                        .hero-section-links {
                            text-decoration: none;
                            padding: 10px;
                        }
                    }
                }

                .about-me {
                    // border: 1px solid white;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .about-container {
                        display: flex;
                        flex-direction: column;
                        margin-top: 50px;
                        height: 1300px;
                        // border: 1px solid white;

                        .about-me_left {
                            width: 100%;
                            height: 300px;
                            display: flex;
                            justify-content: center;
                            position: relative;

                            .under-box {
                                width: 250px;
                                height: 250px;
                            }

                            .abt-left-img {
                                width: 250rem;
                                height: 250rem;
                            }
                        }

                        .about-me_right {
                            width: 100%;
                            height: calc(1400px - 400px);
                            // border: 1px solid white;

                            .about-flex-boxes {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                flex-shrink: 0;

                                .about-flex-items {
                                    width: 250px;
                                    height: 200px;
                                    padding: 30px 10px;
                                    margin: 10px auto;

                                }

                                .middle-item {
                                    margin: 0 auto;
                                }
                            }

                            .about-bulky-text {
                                font-size: 14rem;
                                margin: 30px 0 50px;
                                color: #b4b4b4;
                            }

                            .lets-talk-btn {
                                padding: 20px;
                                // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(38,51,97,1) 0%, rgba(65,143,222,1) 79% );
                                background-color: rgb(21, 173, 233);
                                border-radius: 10px;
                                text-decoration: none;
                                color: black;

                                &:hover {
                                    background-color: white;
                                    transition: 2s;
                                }
                            }
                        }
                    }
                }

                .experience {
                    margin-top: 50px;
                    height: 420px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .experience-container {
                        margin-top: 30px;
                        justify-content: space-evenly;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 350px;

                        .experience-flex-item {
                            padding: 30px;
                            width: 130px;
                            height: 130px;
                            margin: 10px 0;

                            h1 {
                                font-size: 30rem;
                            }

                            h3 {
                                font-size: 14rem;
                            }
                        }
                    }
                }

                .offer-section {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .offer-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-top: 50px;

                        .see-more-link {
                            text-decoration: none;
                            color: #6b6969;
                        }

                        .offer-left {
                            width: 100%;
                            height: 200px;
                            display: flex;
                            margin-bottom: 20px;

                        }

                        .offer-right {
                            width: 100%;
                            height: 200px;
                        }

                        h2 {
                            font-size: 19rem;
                        }
                    }
                }

                .contact {
                    margin-top: 50px;

                    .abt-head_small {
                        font-size: 16rem;
                    }

                    .abt-head {
                        font-size: 25rem;
                    }

                    .contact-container {
                        flex-direction: column;
                        padding-top: 30px;

                        .contact-left {
                            width: 100%;
                            padding-left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .contact-flex-item {
                                width: 250px;
                                height: 180px;
                            }
                        }

                        .contact-right {
                            width: 100%;

                            form {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                input {
                                    width: 300px;
                                    height: 40px;
                                    padding: 25px;
                                    font-size: 16rem;
                                }

                                textarea {
                                    width: 300px;
                                    height: 200px;
                                    padding: 25px;
                                    font-size: 16rem;
                                    color: #808080;
                                }
                            }
                        }
                    }
                }
            }

            footer {
                padding: 30px;
                width: 100%;
                height: 680px;
                display: flex;
                align-items: center;
                flex-direction: column-reverse;
                // border: 1px solid white;
                margin-top: 60px;
                padding-bottom: 80px;

                .footer-left {
                    width: 100%;
                    margin-top: 40px;
                    font-size: 14rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .footer-logo {
                        width: 70px;
                    }

                    span {
                        display: block;
                        padding-top: 20px;
                    }
                }

                .footer-right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    ul {
                        list-style: none;
                        width: 100%;
                        text-align: center;

                        li {
                            padding: 10px 0;

                            .footer-links {
                                text-decoration: none;
                                color: $font-color;

                            }
                        }
                    }
                }

            }

            #hanging-menu {

                .hanging-menu-bar {
                    width: 300px;
                    height: 60px;

                    a {
                        text-decoration: none;

                        .fa-solid {
                            font-size: 20rem;
                        }

                        .fa-regular {
                            font-size: 20rem;
                        }
                    }
                }
            }
        }
    }

}