@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1px;
}
html body {
  font-size: 16em;
  overflow-x: hidden;
  background-image: linear-gradient(111.4deg, rgb(7, 7, 9) 6.5%, rgb(10, 8, 59) 93.2%);
  color: white;
  font-family: poppins, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
html body input {
  font-family: poppins, "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-right: 100px;
  padding-left: 30px;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
html body header .logo-img {
  margin-right: 50px;
  width: 40px;
  height: 26px;
}
html body header nav {
  display: flex;
}
html body header nav ul {
  display: flex;
  list-style: none;
}
html body header nav ul .nav-links {
  color: white;
  font-size: 16rem;
  margin-right: 20px;
  text-decoration: none;
}
html body header .social-nav {
  display: flex;
  align-items: center;
}
html body header .social-nav .nav-social_icons {
  color: white;
  font-size: 18rem;
  margin-left: 20px;
}
html body header .social-nav .nav-social_icons:hover {
  color: rgb(74, 74, 236);
}
html body header .hamburger-menu {
  display: none;
}
html body main {
  padding: 0 100px;
}
html body main .hero-section {
  position: relative;
  height: 600px;
  padding: 100px 0;
}
html body main .hero-section .hero-section-img {
  position: absolute;
  width: 650px;
  height: auto;
  z-index: -1;
  top: 0;
  right: 0;
}
html body main .hero-section div {
  position: absolute;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
html body main .hero-section div h1 {
  font-size: 60rem;
}
html body main .hero-section div p {
  color: #808080;
  font-size: 30rem;
}
html body main .hero-section div .hero-section-links {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.171);
}
html body main .hero-section div .btn-left {
  color: white;
}
html body main .hero-section div .btn-left:hover {
  background-color: rgb(65, 143, 222);
}
html body main .hero-section div .btn-right {
  color: #808080;
}
html body main .hero-section div .btn-right:hover {
  background-color: rgb(65, 143, 222);
  color: white;
}
html body main .about-me {
  margin-top: 90px;
}
html body main .about-me .abt-head_small {
  color: #6b6969;
  text-align: center;
  font-size: 20rem;
}
html body main .about-me .abt-head {
  color: rgb(65, 143, 222);
  text-align: center;
  font-size: 35rem;
  font-weight: bold;
}
html body main .about-me .about-container {
  display: flex;
  margin-top: 50px;
}
html body main .about-me .about-container .about-me_left {
  width: 50%;
  position: relative;
}
html body main .about-me .about-container .about-me_left .under-box {
  width: 360px;
  height: 360px;
  border-radius: 20px;
  background-image: linear-gradient(to top right, rgb(27, 24, 113), rgb(32, 60, 80));
  position: absolute;
  z-index: -1;
}
html body main .about-me .about-container .about-me_left .abt-left-img {
  width: 360rem;
  height: 360rem;
  position: absolute;
  border-radius: 20px;
  transform: rotate(10deg);
  transition: 0.5s ease-in-out;
}
html body main .about-me .about-container .about-me_left .abt-left-img:hover {
  transform: rotate(0);
  transition: 0.5s ease-in-out;
}
html body main .about-me .about-container .about-me_right {
  width: 50%;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes {
  display: flex;
  flex-shrink: 0;
  gap: 10px;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items {
  width: 200rem;
  height: 170px;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 32, 121);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items .fa-solid, html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-regular, html body #hangingMenu .hanging-menu-bar .hanging-menu-links main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items .fa-regular {
  font-size: 25rem;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items h2 {
  font-size: 17rem;
  padding: 10px;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items p {
  font-size: 13rem;
  padding: 5px;
  color: #b4b4b4;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items span {
  font-size: 13rem;
  color: #b4b4b4;
}
html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items:hover {
  transition: 0.5s ease-in-out;
  background-color: transparent;
  border: 1px solid rgb(65, 143, 222);
}
html body main .about-me .about-container .about-me_right .about-bulky-text {
  font-size: 16rem;
  margin: 30px 0 50px;
  color: #b4b4b4;
}
html body main .about-me .about-container .about-me_right .lets-talk-btn {
  padding: 20px;
  background-color: rgb(21, 173, 233);
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
html body main .about-me .about-container .about-me_right .lets-talk-btn:hover {
  background-color: white;
  transition: 1s;
}
html body main .experience {
  margin-top: 90px;
}
html body main .experience .abt-head_small {
  color: #6b6969;
  text-align: center;
  font-size: 20rem;
}
html body main .experience .abt-head {
  color: rgb(65, 143, 222);
  text-align: center;
  font-size: 35rem;
  font-weight: bold;
}
html body main .experience .experience-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
html body main .experience .experience-container .experience-flex-item {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 2%;
  width: 20%;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(to top right, rgb(27, 24, 113), rgb(32, 60, 80));
}
html body main .experience .experience-container .experience-flex-item img {
  width: 100px;
  height: 100px;
}
html body main .experience .experience-container .experience-flex-item .css-img {
  width: 80px;
}
html body main .experience .experience-container .experience-flex-item .react-img {
  height: 90px;
}
html body main .experience .experience-container .experience-flex-item:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
html body main .offer-section {
  margin-top: 100px;
}
html body main .offer-section .abt-head_small {
  color: #6b6969;
  text-align: center;
  font-size: 20rem;
}
html body main .offer-section .abt-head {
  color: rgb(65, 143, 222);
  text-align: center;
  font-size: 35rem;
  font-weight: bold;
}
html body main .offer-section .offer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
html body main .offer-section .offer-container .see-more-link {
  text-decoration: none;
  color: #6b6969;
}
html body main .offer-section .offer-container .offer-left {
  width: 48%;
  height: 200px;
  border-radius: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top right, rgb(27, 24, 113), rgb(32, 60, 80));
}
html body main .offer-section .offer-container .offer-right {
  width: 48%;
  height: 200px;
  border-radius: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom left, rgb(27, 24, 113), rgb(32, 60, 80));
}
html body main .contact {
  margin-top: 80px;
}
html body main .contact .abt-head_small {
  color: #6b6969;
  text-align: center;
  font-size: 20rem;
}
html body main .contact .abt-head {
  color: rgb(65, 143, 222);
  text-align: center;
  font-size: 35rem;
  font-weight: bold;
}
html body main .contact .contact-container {
  display: flex;
  padding-top: 50px;
}
html body main .contact .contact-container .contact-left {
  width: 48%;
  padding-left: 100px;
}
html body main .contact .contact-container .contact-left .contact-flex-item {
  width: 250px;
  height: 180px;
  background-image: linear-gradient(to top right, rgb(27, 24, 113), rgb(32, 60, 80));
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
html body main .contact .contact-container .contact-left .contact-flex-item h3 {
  font-size: 18rem;
  font-weight: 500;
  margin-top: 10px;
}
html body main .contact .contact-container .contact-left .contact-flex-item p {
  font-size: 15rem;
  margin: 10px 0;
}
html body main .contact .contact-container .contact-left .contact-flex-item .contact-links {
  text-decoration: none;
  color: rgb(54, 142, 230);
}
html body main .contact .contact-container .contact-right {
  width: 48%;
}
html body main .contact .contact-container .contact-right form input {
  width: 500px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid rgb(65, 143, 222);
  background-color: transparent;
  margin-bottom: 30px;
  padding: 40px;
  font-size: 18rem;
  color: #808080;
}
html body main .contact .contact-container .contact-right form textarea {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgb(65, 143, 222);
  background-color: transparent;
  padding: 35px;
  font-size: 18rem;
  color: #808080;
  margin-bottom: 30px;
}
html body main .contact .contact-container .contact-right form button {
  padding: 15px 20px;
  background-color: rgb(65, 143, 222);
  border: 0;
  border-radius: 10px;
  font-size: 16rem;
}
html body footer {
  width: 100%;
  height: 350px;
  display: flex;
  margin-top: 100px;
  padding: 0 100px;
}
html body footer .footer-left {
  width: 50%;
  font-size: 14rem;
}
html body footer .footer-left .footer-logo {
  width: 70px;
}
html body footer .footer-left span {
  display: block;
  padding-top: 100px;
}
html body footer .footer-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
html body footer .footer-right ul {
  list-style: none;
  width: 200px;
}
html body footer .footer-right ul li {
  padding: 10px 0;
}
html body footer .footer-right ul li .footer-links {
  text-decoration: none;
  color: white;
}
html body #hangingMenu {
  width: 100%;
  display: none;
  justify-content: center;
}
html body #hangingMenu .hanging-menu-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 80px;
  border-radius: 40px;
  position: fixed;
  bottom: 50px;
  background-color: rgba(5, 5, 5, 0.5607843137);
}
html body #hangingMenu .hanging-menu-bar .hanging-menu-links {
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
html body #hangingMenu .hanging-menu-bar .hanging-menu-links.active {
  transition: 1s;
  background-color: rgb(65, 143, 222);
  color: white;
}
html body #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-solid, html body #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-regular {
  font-size: 25rem;
  color: rgb(65, 143, 222);
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-solid:hover, html body #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-regular:hover {
  transition: 1s;
  background-color: rgb(65, 143, 222);
  color: white;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 1px;
  }
  html body {
    background-image: linear-gradient(111.4deg, rgb(5, 5, 24) 6.5%, rgb(10, 8, 59) 93.2%);
  }
  html body header {
    justify-content: space-between;
  }
  html body header .logo-img {
    margin-right: 50px;
  }
  html body header nav ul {
    display: flex;
  }
  html body header nav ul .nav-links {
    margin-right: 20px;
  }
  html body main {
    padding: 30px 70px;
  }
  html body main .hero-section {
    position: relative;
    height: calc(100vh - 150px);
    padding: 50px 0;
  }
  html body main .hero-section .hero-section-img {
    width: 550px;
    top: 0;
    right: 0;
  }
  html body main .hero-section div h1 {
    font-size: 55rem;
  }
  html body main .hero-section div p {
    color: #808080;
    font-size: 25rem;
  }
  html body main .hero-section div .hero-section-links {
    text-decoration: none;
    padding: 15px;
  }
  html body main .about-me .abt-head_small {
    font-size: 19rem;
  }
  html body main .about-me .abt-head {
    font-size: 30rem;
  }
  html body main .about-me .about-container {
    display: flex;
    margin-top: 50px;
  }
  html body main .about-me .about-container .about-me_left {
    width: 45%;
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  html body main .about-me .about-container .about-me_left .under-box {
    width: 300px;
    height: 300px;
  }
  html body main .about-me .about-container .about-me_left .abt-left-img {
    width: 300rem;
    height: 300rem;
  }
  html body main .about-me .about-container .about-me_right {
    width: 55%;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes {
    display: flex;
    flex-shrink: 0;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items {
    width: 150px;
    height: 160px;
    padding: 20px 10px;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items .fa-solid, html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items #hangingMenu .hanging-menu-bar .hanging-menu-links .fa-regular, html body #hangingMenu .hanging-menu-bar .hanging-menu-links main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items .fa-regular {
    font-size: 20rem;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items h2 {
    font-size: 16rem;
    padding: 5px;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .middle-item {
    margin: 0 auto;
  }
  html body main .about-me .about-container .about-me_right .about-bulky-text {
    font-size: 14rem;
    margin: 30px 0 50px;
    color: #b4b4b4;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn {
    padding: 20px;
    background-color: rgb(21, 173, 233);
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn:hover {
    background-color: white;
    transition: 2s;
  }
  html body main .experience {
    margin-top: 100px;
  }
  html body main .experience .abt-head_small {
    font-size: 19rem;
  }
  html body main .experience .abt-head {
    font-size: 30rem;
  }
  html body main .experience .experience-container {
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  html body main .experience .experience-container .experience-flex-item {
    padding: 20px;
    width: 22%;
    height: 130px;
    margin: 10px 0;
    flex-shrink: 0;
    border-radius: 15px;
  }
  html body main .experience .experience-container .experience-flex-item img {
    width: 80px;
    height: 80px;
  }
  html body main .experience .experience-container .experience-flex-item .css-img {
    width: 60px;
  }
  html body main .experience .experience-container .experience-flex-item .react-img {
    height: 70px;
  }
  html body main .offer-section {
    margin-top: 50px;
  }
  html body main .offer-section .abt-head_small {
    font-size: 19rem;
  }
  html body main .offer-section .abt-head {
    font-size: 30rem;
  }
  html body main .offer-section .offer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }
  html body main .offer-section .offer-container .see-more-link {
    text-decoration: none;
    color: #6b6969;
  }
  html body main .offer-section .offer-container .offer-left {
    width: 48%;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
  }
  html body main .offer-section .offer-container .offer-right {
    width: 48%;
    height: 200px;
  }
  html body main .offer-section .offer-container h2 {
    font-size: 19rem;
  }
  html body main .contact {
    margin-top: 50px;
  }
  html body main .contact .abt-head_small {
    font-size: 16rem;
  }
  html body main .contact .abt-head {
    font-size: 25rem;
  }
  html body main .contact .contact-container {
    padding-top: 30px;
  }
  html body main .contact .contact-container .contact-left {
    width: 50%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-left .contact-flex-item {
    width: 250px;
    height: 180px;
  }
  html body main .contact .contact-container .contact-right {
    width: 50%;
  }
  html body main .contact .contact-container .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-right form input {
    width: 350px;
    height: 40px;
    padding: 25px;
    font-size: 17rem;
    border-radius: 10px;
  }
  html body main .contact .contact-container .contact-right form textarea {
    width: 350px;
    height: 250px;
    padding: 25px;
    font-size: 17rem;
    color: #808080;
  }
  html body footer {
    padding: 30px 70px;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 80px;
  }
  html body footer .footer-left {
    width: 50%;
    margin-top: 40px;
    font-size: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  html body footer .footer-left .footer-logo {
    width: 70px;
  }
  html body footer .footer-left span {
    display: block;
    padding-top: 20px;
  }
  html body footer .footer-right {
    width: 50%;
  }
  html body footer .footer-right ul {
    list-style: none;
    width: 100%;
    text-align: center;
  }
  html body footer .footer-right ul li {
    padding: 10px 0;
  }
  html body footer .footer-right ul li .footer-links {
    text-decoration: none;
    color: white;
  }
  html body .hanging-menu .hanging-menu-bar {
    width: 350px;
    height: 70px;
  }
  html body .hanging-menu .hanging-menu-bar a {
    text-decoration: none;
  }
  html body .hanging-menu .hanging-menu-bar a .fa-solid, html body .hanging-menu #hangingMenu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body #hangingMenu .hanging-menu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body .hanging-menu #hangingMenu .hanging-menu-bar .hanging-menu-links a .fa-regular, html body #hangingMenu .hanging-menu .hanging-menu-bar .hanging-menu-links a .fa-regular {
    font-size: 22rem;
  }
  html body .hanging-menu .hanging-menu-bar a .fa-regular {
    font-size: 22rem;
  }
}
@media screen and (max-width: 808px) {
  html {
    font-size: 1px;
  }
  html body {
    background-image: linear-gradient(111.4deg, rgb(5, 5, 24) 6.5%, rgb(10, 8, 59) 93.2%);
  }
  html body header {
    padding: 50px;
    justify-content: space-between;
  }
  html body header .logo-img {
    margin-right: 50px;
  }
  html body header nav ul {
    display: flex;
  }
  html body header nav ul .nav-links {
    margin-right: 10px;
  }
  html body header .fa-bars {
    display: none;
  }
  html body main {
    padding: 50px;
  }
  html body main .hero-section {
    position: relative;
    height: calc(100vh - 200px);
    padding: 50px 0;
  }
  html body main .hero-section .hero-section-img {
    width: 550px;
    top: 0;
    right: 0;
  }
  html body main .hero-section div h1 {
    font-size: 55rem;
  }
  html body main .hero-section div p {
    color: #808080;
    font-size: 25rem;
  }
  html body main .hero-section div .hero-section-links {
    text-decoration: none;
    padding: 15px;
  }
  html body main .about-me .abt-head_small {
    font-size: 18rem;
  }
  html body main .about-me .abt-head {
    font-size: 28rem;
  }
  html body main .about-me .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  html body main .about-me .about-container .about-me_left {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  html body main .about-me .about-container .about-me_left .under-box {
    width: 280px;
    height: 280px;
  }
  html body main .about-me .about-container .about-me_left .abt-left-img {
    width: 280rem;
    height: 280rem;
  }
  html body main .about-me .about-container .about-me_right {
    width: 100%;
    margin-top: 100px;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items {
    width: 250px;
    height: 200px;
    padding: 30px 10px;
    margin: 10px auto;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .middle-item {
    margin: 10px auto;
  }
  html body main .about-me .about-container .about-me_right .about-bulky-text {
    font-size: 16rem;
    margin: 30px 0 50px;
    color: #b4b4b4;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn {
    display: flex;
    padding: 15px 20px;
    width: 150px;
    justify-content: center;
    background-color: rgb(21, 173, 233);
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn:hover {
    background-color: white;
    transition: 2s;
  }
  html body main .experience {
    margin-top: 100px;
  }
  html body main .experience .abt-head_small {
    font-size: 16rem;
  }
  html body main .experience .abt-head {
    font-size: 25rem;
  }
  html body main .experience .experience-container {
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  html body main .experience .experience-container .experience-flex-item {
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }
  html body main .experience .experience-container .experience-flex-item img {
    width: 60px;
    height: 60px;
  }
  html body main .experience .experience-container .experience-flex-item .css-img {
    width: 40px;
  }
  html body main .experience .experience-container .experience-flex-item .react-img {
    height: 50px;
  }
  html body main .offer-section {
    margin-top: 50px;
  }
  html body main .offer-section .abt-head_small {
    font-size: 16rem;
  }
  html body main .offer-section .abt-head {
    font-size: 25rem;
  }
  html body main .offer-section .offer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
  }
  html body main .offer-section .offer-container .see-more-link {
    text-decoration: none;
    color: #6b6969;
  }
  html body main .offer-section .offer-container .offer-left {
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
  }
  html body main .offer-section .offer-container .offer-right {
    width: 100%;
    height: 200px;
  }
  html body main .offer-section .offer-container h2 {
    font-size: 19rem;
  }
  html body main .contact {
    margin-top: 50px;
  }
  html body main .contact .abt-head_small {
    font-size: 16rem;
  }
  html body main .contact .abt-head {
    font-size: 25rem;
  }
  html body main .contact .contact-container {
    flex-direction: column;
    padding-top: 30px;
  }
  html body main .contact .contact-container .contact-left {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-left .contact-flex-item {
    width: 350px;
    height: 180px;
  }
  html body main .contact .contact-container .contact-right {
    width: 100%;
  }
  html body main .contact .contact-container .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-right form input {
    width: 350px;
    height: 40px;
    padding: 25px;
    font-size: 17rem;
    border-radius: 10px;
  }
  html body main .contact .contact-container .contact-right form textarea {
    width: 350px;
    height: 250px;
    padding: 25px;
    font-size: 17rem;
    color: #808080;
  }
  html body footer {
    padding: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 50px;
  }
  html body footer .footer-left {
    width: 100%;
    margin-top: 40px;
    font-size: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  html body footer .footer-left .footer-logo {
    width: 70px;
  }
  html body footer .footer-left span {
    display: block;
    padding-top: 20px;
  }
  html body footer .footer-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  html body footer .footer-right ul {
    list-style: none;
    width: 100%;
    text-align: center;
  }
  html body footer .footer-right ul li {
    padding: 10px 0;
  }
  html body footer .footer-right ul li .footer-links {
    text-decoration: none;
    color: white;
  }
  html body .hanging-menu .hanging-menu-bar {
    width: 300px;
    height: 60px;
  }
  html body .hanging-menu .hanging-menu-bar a {
    text-decoration: none;
  }
  html body .hanging-menu .hanging-menu-bar a .fa-solid, html body .hanging-menu #hangingMenu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body #hangingMenu .hanging-menu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body .hanging-menu #hangingMenu .hanging-menu-bar .hanging-menu-links a .fa-regular, html body #hangingMenu .hanging-menu .hanging-menu-bar .hanging-menu-links a .fa-regular {
    font-size: 20rem;
  }
  html body .hanging-menu .hanging-menu-bar a .fa-regular {
    font-size: 20rem;
  }
}
@media screen and (max-width: 605px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow-x: hidden;
    background-image: linear-gradient(111.4deg, rgb(10, 10, 54) 6.5%, rgb(10, 8, 82) 93.2%);
  }
  html body header {
    padding: 20px;
  }
  html body header .logo-img {
    margin-right: 100px;
  }
  html body header nav #mobile-side-nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 100px 0;
    background-image: linear-gradient(111.4deg, rgb(10, 10, 54) 6.5%, rgb(10, 8, 82) 93.2%);
    z-index: 10;
    width: 100%;
    right: 0;
    top: 80px;
    transform: translateY(-100%);
    transition: 1s ease-in-out;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  html body header nav #mobile-side-nav .nav-links {
    width: 100%;
    display: block;
    padding: 0 40px;
  }
  html body header nav #mobile-side-nav li {
    padding: 10px 0;
    width: 100%;
  }
  html body header nav #mobile-side-nav li:hover {
    background-color: rgb(65, 143, 222);
  }
  html body header nav #mobile-side-nav .dropdown {
    display: none;
  }
  html body header nav #mobile-side-nav.open {
    visibility: visible;
    transform: translateY(0);
    transition: 1s ease-in-out;
  }
  html body header .hamburger-menu {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    margin-left: 30px;
  }
  html body header .hamburger-menu .hamburger-btn {
    margin-left: 10px;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background: white;
    position: absolute;
    transition: 0.5s;
  }
  html body header .hamburger-menu .hamburger-btn::before {
    position: absolute;
    top: 10px;
    content: "";
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
  }
  html body header .hamburger-menu .hamburger-btn::after {
    position: absolute;
    bottom: 10px;
    content: "";
    border-radius: 10px;
    width: 30px;
    height: 5px;
    background-color: white;
  }
  html body header .hamburger-menu .hamb_open {
    background: transparent;
    transform: rotate(180deg);
  }
  html body header .hamburger-menu .hamb_open::before {
    transform: rotate(45deg) translate(-11px, -1px);
  }
  html body header .hamburger-menu .hamb_open::after {
    transform: rotate(-45deg) translate(0px, 16px);
  }
  html body main {
    padding: 30px;
  }
  html body main .hero-section {
    position: relative;
    height: calc(100vh - 250px);
    padding: 50px 0;
  }
  html body main .hero-section .hero-section-img {
    width: 550px;
    top: 0;
    right: 0;
  }
  html body main .hero-section div h1 {
    font-size: 45rem;
  }
  html body main .hero-section div p {
    color: #808080;
    font-size: 20rem;
  }
  html body main .hero-section div .hero-section-links {
    text-decoration: none;
    padding: 10px;
  }
  html body main .about-me .abt-head_small {
    font-size: 16rem;
  }
  html body main .about-me .abt-head {
    font-size: 25rem;
  }
  html body main .about-me .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 1300px;
  }
  html body main .about-me .about-container .about-me_left {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  html body main .about-me .about-container .about-me_left .under-box {
    width: 250px;
    height: 250px;
  }
  html body main .about-me .about-container .about-me_left .abt-left-img {
    width: 250rem;
    height: 250rem;
  }
  html body main .about-me .about-container .about-me_right {
    width: 100%;
    height: 1000px;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .about-flex-items {
    width: 250px;
    height: 200px;
    padding: 30px 10px;
    margin: 10px auto;
  }
  html body main .about-me .about-container .about-me_right .about-flex-boxes .middle-item {
    margin: 0 auto;
  }
  html body main .about-me .about-container .about-me_right .about-bulky-text {
    font-size: 14rem;
    margin: 30px 0 50px;
    color: #b4b4b4;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn {
    padding: 20px;
    background-color: rgb(21, 173, 233);
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  html body main .about-me .about-container .about-me_right .lets-talk-btn:hover {
    background-color: white;
    transition: 2s;
  }
  html body main .experience {
    margin-top: 50px;
    height: 420px;
  }
  html body main .experience .abt-head_small {
    font-size: 16rem;
  }
  html body main .experience .abt-head {
    font-size: 25rem;
  }
  html body main .experience .experience-container {
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 350px;
  }
  html body main .experience .experience-container .experience-flex-item {
    padding: 30px;
    width: 130px;
    height: 130px;
    margin: 10px 0;
  }
  html body main .experience .experience-container .experience-flex-item h1 {
    font-size: 30rem;
  }
  html body main .experience .experience-container .experience-flex-item h3 {
    font-size: 14rem;
  }
  html body main .offer-section {
    margin-top: 50px;
  }
  html body main .offer-section .abt-head_small {
    font-size: 16rem;
  }
  html body main .offer-section .abt-head {
    font-size: 25rem;
  }
  html body main .offer-section .offer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
  }
  html body main .offer-section .offer-container .see-more-link {
    text-decoration: none;
    color: #6b6969;
  }
  html body main .offer-section .offer-container .offer-left {
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
  }
  html body main .offer-section .offer-container .offer-right {
    width: 100%;
    height: 200px;
  }
  html body main .offer-section .offer-container h2 {
    font-size: 19rem;
  }
  html body main .contact {
    margin-top: 50px;
  }
  html body main .contact .abt-head_small {
    font-size: 16rem;
  }
  html body main .contact .abt-head {
    font-size: 25rem;
  }
  html body main .contact .contact-container {
    flex-direction: column;
    padding-top: 30px;
  }
  html body main .contact .contact-container .contact-left {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-left .contact-flex-item {
    width: 250px;
    height: 180px;
  }
  html body main .contact .contact-container .contact-right {
    width: 100%;
  }
  html body main .contact .contact-container .contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  html body main .contact .contact-container .contact-right form input {
    width: 300px;
    height: 40px;
    padding: 25px;
    font-size: 16rem;
  }
  html body main .contact .contact-container .contact-right form textarea {
    width: 300px;
    height: 200px;
    padding: 25px;
    font-size: 16rem;
    color: #808080;
  }
  html body footer {
    padding: 30px;
    width: 100%;
    height: 680px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 60px;
    padding-bottom: 80px;
  }
  html body footer .footer-left {
    width: 100%;
    margin-top: 40px;
    font-size: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  html body footer .footer-left .footer-logo {
    width: 70px;
  }
  html body footer .footer-left span {
    display: block;
    padding-top: 20px;
  }
  html body footer .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  html body footer .footer-right ul {
    list-style: none;
    width: 100%;
    text-align: center;
  }
  html body footer .footer-right ul li {
    padding: 10px 0;
  }
  html body footer .footer-right ul li .footer-links {
    text-decoration: none;
    color: white;
  }
  html body #hanging-menu .hanging-menu-bar {
    width: 300px;
    height: 60px;
  }
  html body #hanging-menu .hanging-menu-bar a {
    text-decoration: none;
  }
  html body #hanging-menu .hanging-menu-bar a .fa-solid, html body #hanging-menu #hangingMenu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body #hangingMenu #hanging-menu .hanging-menu-bar a .hanging-menu-links .fa-regular, html body #hanging-menu #hangingMenu .hanging-menu-bar .hanging-menu-links a .fa-regular, html body #hangingMenu #hanging-menu .hanging-menu-bar .hanging-menu-links a .fa-regular {
    font-size: 20rem;
  }
  html body #hanging-menu .hanging-menu-bar a .fa-regular {
    font-size: 20rem;
  }
}/*# sourceMappingURL=style.css.map */